.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
body, html {
  width: 100%;
  height: 100%;
}
.box {
  margin: 20px;
}
.video-react {
  padding: 0 !important;
  width: 400px !important;
  height: 400px !important;
}
* {
  margin: 0;
  padding: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
